AWSTemplateFormatVersion: '2010-09-09'

Outputs:
  ClusterName:
    Description: The name of the ECS service
    Value: !Ref 'ECSCluster'
    Export:
      Name: !Join [ ':', [ !Ref 'AWS::StackName', 'ClusterName' ] ]
  ServiceName:
    Description: The name of the ECS service
    Value: !Ref 'ServiceName'
    Export:
      Name: !Join [ ':', [ !Ref 'AWS::StackName', 'ServiceName' ] ]